@CHARSET "UTF-8";

.buttonDanger {
    -fx-background-color: #bd362f; 
    -fx-text-fill: white;
}

.buttonDanger:hover {
    -fx-background-color: #da4f49;
    -fx-text-fill: black;
}

.buttonGreen {
    -fx-background-color: #51a351; 
    -fx-text-fill: white;
    -fx-border-color: #408140;
}

.buttonGreen:hover {
    -fx-background-color: #408140;
}

.buttonWhite {
    -fx-background-color: #f5f5f5; 
    -fx-border-color: #e6e6e6;
}

.buttonWhite:hover {
    -fx-background-color: #e6e6e6;
}

.buttonGreen, .buttonWhite, .buttonLarge {
    -fx-font-size: 16;
    -fx-border-radius:10;
    -fx-padding: 3 6 3 6;
}

.buttonBarMain, .buttonBar {
    -fx-alignment: center;
    -fx-padding: 10 0 10 0;
    -fx-spacing: 5;
}

.buttonBarMain {
    -fx-padding: 440 0 0 10;
}

.gridForm {
    -fx-padding: 10 0 10 10;
    -fx-hgap: 5;
    -fx-vgap: 5;
}

.logoBox {
    -fx-alignment: center;
    -fx-padding: 0 0 10 10;
}

.table-view .column-header .label {
    -fx-alignment: center-left;
}